* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}
.cards {
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.book {
  border-radius: 1.5rem;

  position: relative;
  overflow: hidden;
  
}
#book1 {
  height: 17rem;
  width: 15rem;
  background-image: url("./book6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -1.5rem;
}
#book2 {
  height: 17rem;
  width: 15rem;
  background-image: url("./book4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
#book3 {
  height: 17rem;
  width: 15rem;
  background-image: url("./book8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.detail {
  height: 6.5rem;
  width: 13.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.75rem 0.75rem;
  line-height: 1.5rem;
  position: absolute;
  top: 15.5rem;
  left: 0.75rem;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 1s 1s;
 
}

.price {
  font-weight: 300;
  font-size: 0.75rem;
  margin-top: -0.25rem;
}

.book:hover .detail {
  animation: showDetails 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.book:hover {
  animation: removeOverflow 1s forwards;
}

.book:not(:hover) .detail {
  animation: hideData 1s forwards;
}
.book:not(:hover) {
  animation: showOverflow 1s forwards;
}
@keyframes showDetails {
  50% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(-4rem);
  }
}
@keyframes removeOverflow {
  to {
    overflow: initial;
  }
}

@keyframes hideData {
  0% {
    transform: translateY(-4rem);
  }
  50% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(1.5rem);
  }
}

@keyframes showOverflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
